@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --background-color: #343a40;
  --foreground-color: var(--background-color);
  /* --foreground-color: #383f47; */
  --debug-color: hotpink;
  --text-navbar: #F5A9B8;
  --text-navbar-arrow: #5BCEFA;
  --text-navbar-arrow-hover: #11b8f8;
  --text-navbar-hover: #ed647f;
  --horizontal-separator: #5BCEFA;
  --text: white;
  --text-link: #5BCEFA;
  --text-hiatus: #FDFD96;
  --card-background: #11b8f8;
}

html,
body {
    width: fit-content;
    background-color: var(--background-color);
    color: var(--text);
    font-family: "Rubik", sans-serif;
}

.hidden {
    display: none;
}



button {
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: var(--text-link);
    border-radius: 0.25em;
}

button:hover {
    background-color: var(--text-navbar-arrow-hover);
}

form {
    align-items: center;
    width: 100%;
    height: 2em;
    margin: auto;
    display: flex;
}

input {
    border-radius: 0.25em;
    border: none;
}

p, .streamer-list, form * {
    margin: 0.25em;
}

.streamer-list {
    width: 100%;
    max-height: 25em;
    overflow-x: hidden;
    overflow-y: auto;
}

.streamer-list ul {
    width: 97.25%;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0;
}

li {
    margin: 0.1em 0 0.1em 0;
}

li button {
    float: right;
}

a {
    color: var(--text-link);
    text-decoration: none;
}

a:hover {
    color: var(--text-navbar-arrow-hover);
}

.live {
    color: var(--text-navbar-hover);
}